.cuerpo{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 40px;
	padding: 30px;

}
.equipo{

    display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 40px;
	padding: 30px;

}